@media (min-width: 980px) {
  #products {
    display: none; } }

@media (max-width: 980px) {
  #products2 {
    display: none; } }

@media (max-width: 590px) {
  #inicio {
    display: block !important; }
  .products__products {
    display: inline; }
    .products__products div {
      width: 100% !important; }
  footer h2 {
    font-size: small !important; } }

* {
  padding: 0px;
  font-size: 1.06rem !important;
  list-style-type: none; }

a {
  text-decoration: none !important; }

body {
  margin: 0px; }

nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #f3923d; }
  nav a {
    text-decoration: none;
    color: white !important;
    text-align: center;
    flex-grow: 1; }
    nav a:hover {
      background-color: black;
      border: ridge 1px; }

.header__header {
  background-color: #f3923d;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center; }

.ColorDeTitulo {
  color: #f70909;
  letter-spacing: 2px;
  font-size: 37px !important;
  display: inline;
  text-shadow: 0px 1px 2px black; }

#logo img {
  width: 90px; }

#inicio {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px; }

#products {
  background-color: #f3923d;
  padding: 7%; }
  #products div
div {
    width: 50%;
    margin-top: 15px; }
    #products div
div div {
      margin-left: 15px; }

#products2 {
  background-color: #f3923d;
  padding: 10px;
  list-style-position: inside;
  margin-left: 4px; }
  #products2 ul {
    margin-left: 10%; }

#selector {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  height: 100%; }
  #selector figure {
    height: 360px;
    width: 375px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 0px 7px #111111);
    border-radius: 2%; }
    #selector figure .capa {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      visibility: hidden; }
      #selector figure .capa h2 {
        position: relative;
        color: black;
        margin-top: 1px;
        margin-left: 100px;
        margin-bottom: 100px;
        transition: all 600ms ease-in-out;
        filter: drop-shadow(0 3px 1px white); }
    #selector figure img {
      border-radius: 2px;
      height: 100%;
      width: 100%;
      transition: all 500ms ease-in-out; }
    #selector figure:hover > .capa {
      opacity: 1;
      visibility: visible;
      transition: all 600ms ease-in-out; }
      #selector figure:hover > .capa h2 {
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 15px;
        font-size: 30px !important; }
      #selector figure:hover > .capa img {
        position: absolute;
        transition: all 500ms ease-in-out;
        transform: scale(1.3); }
    #selector figure:hover > img {
      transform: scale(1.3); }

.products__products {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%; }
  .products__products div {
    width: 50%; }

.products__botones {
  margin: 9px;
  padding: 0px;
  display: flex;
  justify-content: space-between; }

.google {
  margin-top: 15px; }

#contacto .mediosdecontacto {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 20% 76%;
  grid-template-areas: "h2 aside1" "h2 aside2" "h2 aside3"; }

#contacto aside {
  margin: 8px;
  padding: 9px;
  border: solid grey 3px;
  width: 100%; }

#contacto div h2 {
  grid-area: h2;
  color: black; }

.MedioDeContacto1 {
  grid-area: aside1; }

.MedioDeContacto2 {
  grid-area: aside2; }

.MedioDeContacto3 {
  grid-area: aside3; }

.contacto__h2 {
  margin-top: 13px;
  text-align: center;
  justify-content: center; }
  .contacto__h2 h2 {
    font-size: larger !important; }
  .contacto__h2 img {
    width: 20%; }

.aboutUs__Texto {
  display: flex;
  margin-top: 20px;
  width: 80%; }
  .aboutUs__Texto h5 {
    font-size: larger !important; }
  .aboutUs__Texto p {
    text-align: center;
    font-size: 21px !important; }
  .aboutUs__Texto img {
    height: 90%; }

footer {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #f3923d;
  color: #ffffff;
  align-items: center; }
  footer a {
    margin-left: 25%; }
    footer a h2 {
      color: white; }
  footer h2 {
    margin-right: 10px; }
